@model MyViewModel
<h1 class="container d-flex justify-content-center">@Model.Category.Name</h1>
<div class="container">
    <h3>Categories</h3>
    @foreach (Association c in @Model.Category.Products)
    {
        <p>@c.Product.Name</p>
    }
</div>
<div class="container">
    <h3>Add Product</h3>
    <form asp-action="AddProduct" asp-controller="Home" method="post">
        <input type="hidden" asp-for=@Model.Association.CategoryId value=@Model.Category.CategoryId>
        <select asp-for=@Model.Association.ProductId>
            @foreach (Product p in @ViewBag.productsNotInSP)
            {
                <option value=@p.ProductId>@p.Name</option>
            }
        </select>
        <button class="btn btn-info">Add</button>
    </form>
</div>